<div>
    <h2 id="page-heading">
        <span>Job Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-job-history-my-suffix" [routerLink]="['/job-history-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create a new Job History
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="jobHistories?.length === 0">
        <span>No jobHistories found</span>
    </div>
    <div class="table-responsive" *ngIf="jobHistories?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="startDate"><span>Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="endDate"><span>End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="language"><span>Language</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="jobId"><span>Job</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="departmentId"><span>Department</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="employeeId"><span>Employee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let jobHistory of jobHistories ;trackBy: trackId">
                <td><a [routerLink]="['/job-history-my-suffix', jobHistory.id, 'view' ]">{{jobHistory.id}}</a></td>
                <td>{{jobHistory.startDate | date:'medium'}}</td>
                <td>{{jobHistory.endDate | date:'medium'}}</td>
                <td>{{jobHistory.language}}</td>
                <td>
                    <div *ngIf="jobHistory.jobId">
                        <a [routerLink]="['/job-my-suffix', jobHistory.jobId , 'view' ]" >{{jobHistory.jobId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobHistory.departmentId">
                        <a [routerLink]="['/department-my-suffix', jobHistory.departmentId , 'view' ]" >{{jobHistory.departmentId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobHistory.employeeId">
                        <a [routerLink]="['/employee-my-suffix', jobHistory.employeeId , 'view' ]" >{{jobHistory.employeeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/job-history-my-suffix', jobHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/job-history-my-suffix', jobHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(jobHistory)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
